body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.todo-container {
    width: 400px;
    margin: 50px auto;
    margin-top: 14%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2196F3;
}

#todo-form {
    margin-bottom: 20px;
}

#todo-input {
    width: 70%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#add-todo-button {
    width: 30%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #0b22b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item span {
    font-size: 16px;
    margin-right: 10px;
}

.todo-item button {
    background-color: #E74C3C;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.todo-item button:hover {
    background-color: #C0392B;
}